*{
<<<<<<<<<Header
   padding: 0;
   margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Varela Round', sans-serif;
    list-style: none;
    text-decoration: none;

}

header{

position: fixed;
width: 100%;
top: 0;
right: 0;
z-index: 1000;
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 10%;



}

h1{
    max-width: 100px;
    height: auto;
    display: left;

}
.navmenu{
    display: flex;


}
.navmenu a{
    color: black;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all  .42s ease;




}
.navmenu a:hover{

color: gray;
}
.nav-icon{
    display: flex;
    align-items: center;

}
.nav-icon i{
    margin-right: 20px;
    color: black;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;

}
.nav-icon i:hover{
    transform: scale(1.1);

}
section{
    padding: 5% 10%;

}
.main-home{
    width: 100%;
    height: 100vh;
    background-image: url(image00008.jpeg);
    background-position: right;
    background-size: 70% 100%;
    display: grid;
 
    align-items: right;




}
.main-text h1{
    color: black;
    font-size: 65px;
    text-transform: capitalize;
    line-height:1.1;
    font-weight: 600;
    margin:100px 0 10px;
}
.main-text h4{
    color: darkgray;
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;

}
.main-btn{
    display: inline-block;
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 3px solid black;
    padding: 12px 25px;
    transition: all .42s ease;


}
.main-btn:hover{
    background-color: black;
    color: white;
}
.main-btn i{
    vertical-align: middle;
}
.down-arrow{
    position: absolute;
    top: 85%;
    right: 101%;

}
.down i{
    font-size: 30px;
    color: black;
    border: 2px solid black;
    border-radius: 50px;
    padding: 12px 12px;


}
.down i:hover{
    background-color: black;
    color: white;
    transition: all .42s ease;

}

header.sticky{
    background: white;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.center-text h2{
    color: black;
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 55px;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px , auto));
    gap:2rem;
}
.row{
    position: relative;
    transition: all .40s;
}
.row img{
    width: 100%;
    height: auto;
    transition: all .40s;

}
.row img:hover{
    transform: scale(0.9);
}
.contact{
    background-color: lightgray;
}
.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px , auto));
    gap:3rem;
  
}
.first-info h1{
    width: 140px;
    height: auto;
    font-size: 40px;
}
.contact-info h3{
    color: black;
    font-size:20px;
    text-transform: uppercase;
    margin-bottom: 10px;

}
.contact-info p{
    color: gray;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor:pointer;
    transition: all .42s;
}
.contact-info p:hover{
    color: black;

}
.social-icons i{
    color: black;
    margin-right: 10px;
    transition: all .42s;
}
.social-icons i:hover{
    transform: scale(1.3);
}

@media(max-width: 890px){
    header{
        padding: 20px 3%;
        transition: .4s;
    }
}

@media(max-width: 630px){
    .main-text h1{
        font-size: 50px;
        transition: .4s;
    }
    .main-btn{
        padding: 10px 20px;
        transition: .4s;
    }
}

@media(max-width: 750px){
    .navmenu{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 130vh;
        background: lightgray;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s;
    }
    .navmenu a{
        display: block;
        margin: 18px 0;
    }
    .navmenu.open{
        right: 0;
    }
}
.box1{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style-type: none;
    color: white;
    background-color:white ;
    margin: 5px;
    height: 35px;
}
a{
    color: black;
    text-decoration: none;
    justify-content: center;

}

h5{
    margin-top: 1px;
    color: black;
    font-size: 25px;
    display: flex;
    left:-18%;

}

